#PageBody {
  background-color: rgb(250, 128, 114);
}

#githubButton {
  position: absolute;
  left: 100rem;
  width: 60px; /* you can use % */
  height: auto;
}
#aboutDiv {
  width: 13rem;
}
#fileInput{
    position: absolute;
    left: 55rem;
    top: 15rem;
    
}
#title {
  text-align: center;
}
