#PageBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(250, 128, 114);
}

#githubButton {
  position: absolute;
  left: 100rem;
  width: 60px; /* you can use % */
  height: auto;
}

#fileInput{
  position: absolute;
  left: 55rem;
  top: 8rem;
}
#imageBox{
  width: 200px;
  height: 200px;
  border: 3px black;
  border-style: solid;
  position: absolute;
  top: 20rem;
}